.table {
    border-collapse: collapse;
    width: 100%;
    
}


tr {
    border-bottom: 1px solid #ddd; 
}


th, td {
    border: none;
    padding: 8px; 
    text-align: left; 
}


tr:nth-child(odd) {
    background-color: #f9f9f9; 
}


th {
    background-color: rgb(217, 246, 255);
    color: #121212; 
    
}
