thead{
    border-width: 3px;
    color: #000;
    border: solid;
}

tr{
    border: 3px #000 solid;
    
}

th{
    border: 3px #000 solid;
}

td{
    border: 3px #000 solid;
}

.table{
    border: 3px #000 solid;
    
    
}